<%= form_with(model: @tweet, local: true) do |f| %>
  <%= f.select :tag, [["序盤", "序盤"], ["中盤", "中盤"], ["終盤", "終盤"]], include_blank: "選択してください(序盤、中盤、終盤)" %>
  </br><span>局面図を載せてください</span></br>
  <%= f.file_field :image %>
  <%= f.text_area :text, placeholder: "疑問点", rows: "6" %>
  <%= f.submit "SEND" %>
<% end %>