<div class="toukousya">投稿者:<%= tweet.user.nickname %>, 投稿者の棋力:<%= tweet.user.kiryoku.name %>, 局面:<%= tweet.tag %></div>
  <div>
  <div class="index-img">
    <%= image_tag tweet.image %>
  </div>
    <div class="detail">
    <%= link_to '詳細を見る', tweet_path(tweet.id), method: :get, class:"detail-post", id:"detail-post-id" %>
    </div>
</div>