<div>
<div class="toukousya">投稿者:<%= @tweet.user.nickname %>, 投稿者の棋力:<%= @tweet.user.kiryoku.name %>, 局面:<%= @tweet.tag %></div>
  <div class="content_post"><%= image_tag @tweet.image, class:"img_post" %>
  </div>
  <% if user_signed_in? %>
  <% if current_user.id == @tweet.user_id %>
  <div class="option">
       <%= link_to '投稿の編集', edit_tweet_path(@tweet.id) , method: :get, class: "edit-button" %>
      <%= link_to '削除', tweet_path(@tweet.id), method: :delete, class:'delete-button' %>
  </div>
  <% end %>
    <% end %>
  <div class="container">
  <h4>質問内容</h4>
  <%= safe_join(@tweet.text.split("\n"),tag(:br)) %>
  </div>
    <% if current_user %>
      <%= form_with(model: [@tweet, @comment], url:tweet_comments_path(tweet_id: @tweet.id), id:"tweet-form", local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントを入力", rows: "4", class:"answer-memo", id:"answer-memo-id" %>
        <%= form.submit "SEND", class:"answer-button" ,id:"answer-button-id" %></span>
      <% end %>
    <% else %>
      <h2 style="text-align:center">※※※ コメントの投稿には新規登録/ログインが必要です ※※※</h2>
    <% end %>
    <div class="comments">
      <h4 class="answer-list", id="answer-list-id">＜回答一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong>回答者：<%=comment.user.nickname %></strong>
            <div class="container">
            <%= safe_join(comment.text.split("\n"),tag(:br)) %>
            </div>
          </p>
          <div>
          <div class="thanks-button">
          <span id="special-thanks-button">
          </div>
        <% end %>
      <% end %>
    </div>