<div class="game-kaisai">
<div class="kaisai-description"><%= "ここでは将棋アプリを通じて対局を主催したり、対局に申し込めます。" %></div>

<div class="game-picture">
<div>
<%= image_tag 'wozu-top.jpeg', class:"wozu-top" %>
</div>
<div>
<%= image_tag 'quest-top.png', class:"quest-top" %>
</div>
</div>

<div>
<%= link_to "対局を主催する", new_game_path(user_id: current_user.id), class:"kaisai-button" %>
</div>

<div>
<% @games.each do |game| %>
<table class="detail-table">
      <tbody class="detail-table-list">
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= game.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">対戦者の希望日時</th>
          <td class="detail-value"><%= l game.game_date %></td>
        </tr>
        <tr>
          <th class="detail-item">使用する将棋アプリ</th>
          <% if game.game_app == "将棋ウォーズ" %>
          <td class="detail-value"><%= game.game_app %><%= image_tag 'wozu-top.jpeg', class:"wozu-td" %></td>
          <% elsif game.game_app == "将棋Quest" %>
          <td class="detail-value"><%= game.game_app %><%= image_tag 'quest-top.png', class:"quest-td" %></td>
          <% else %>
          <td class="detail-value"><%= game.game_app %></td>
          <% end %>
        </tr>
        <tr>
          <th class="detail-item">対戦者の棋力</th>
          <td class="detail-value"><%= game.kiryoku.name %></td> 
        </tr>
        <tr>
          <th class="detail-item">対戦者からのコメント</th>
          <td class="detail-value"><%= game.text %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to "対局を申し込む。", game_path(game.id), class:"vs-button" %>
<% end %>
</div>

</div>